<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Saws</title>
    </head>
    <body>
        <h1>Welcome to saws.world</h1>
        <article>
            <pre>
            Amidst the verdant fields, a chef's heart beats,
            Wielding saws, the culinary arts they greet.
            A symphony of flavors, a dance of taste,
            Sauces born from passion, never to waste.

            Saws, the Welsh word for sauce, a secret held dear,
            Transforming humble ingredients, with a flair so clear.
            A drizzle, a drape, a pool of delight,
            Elevating dishes to gastronomic height.

            From velvet demi-glace to vibrant pesto swirls,
            Saws unveils its magic, the taste buds unfurl.
            A love letter to the palate, a canvas to savor,
            Each bite a testament to the chef's ardent labor.
            </pre>
        </article>
        <form enctype="multipart/form-data" action="/api/upload" method="post">
            <input type="file" name="image" accept="image/*" />
            <input type="submit" value="upload" />
        </form>
    </body>
</html>
