{{ block "south-america" . }}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <script
            src="https://unpkg.com/htmx.org@1.9.11"
            integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
            crossorigin="anonymous"
        ></script>
        <style>
            @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
        </style>
        <link href="/static/output.css" rel="stylesheet" />
        <title>saws - South America</title>
    </head>

    <body class="bg-bg-300">
        <aside
            class="flex flex-col md:fixed md:h-screen md:gap-5 top-0 left-0 md:w-80 px-2 md:px-4 py-3 md:pt-5 md:pb-0 md:shadow-md"
        >
            <a
                class="text-2xl underline hover:decoration-wavy font-mono text-center"
                href="/"
                >saws.world</a
            >
            <div
                class="fixed bottom-20 left-auto right-0 top-auto m-0 bg-bg-300 px-3 pb-6 pt-2 md:static md:flex md:h-full md:flex-col md:gap-2 md:px-2 md:py-0 md:pb-0"
                id="image-list-controls"
                >
            <form class="flex flex-col items-stretch">
                <span class="my-2 md:my-2 text-left font-light text-lg">Order By</span>
                <div class="grid grid-cols-2 md:flex md:justify-evenly mx-2 md:gap-2 md:flex-col md:m-0 md:px-2">
                    <label for="order-oldest">
                        <input
                            id="order-oldest"
                            value="oldest"
                            name="order"
                            type="radio"
                            hx-get="/south-america"
                            hx-push-url="true"
                            hx-target="main"
                            hx-select="main"
                            hx-swap="outerHTML"
                            {{ if not (eq .OrderBy "latest") }}
                                checked="true"
                            {{ end }}
                        />
                        <span>Oldest</span>
                    </label>
                    <label for="order-latest">
                        <input
                            id="order-latest"
                            value="latest"
                            name="order"
                            type="radio"
                            class="md:my-2"
                            hx-get="/south-america"
                            hx-push-url="true"
                            hx-target="main"
                            hx-select="main"
                            hx-swap="outerHTML"
                            {{ if eq .OrderBy "latest" }}
                                checked="true"
                            {{ end }}
                        />
                        <span>Latest</span>
                    </label>
                </div>
            </form>
            <form id="countryFilter" class="flex flex-col grow items-stretch">
                <span class="my-2 text-left md:my-2 font-light text-lg">Countries</span>
                <div class="grid grid-cols-2 px-2 md:flex md:justify-around gap-5 md:gap-2 md:flex-col md:px-2">
                    {{ range $i, $country := .CountryFilters }}
                    <label for="{{$country.Value}}">
                        <input
                            type="checkbox"
                            id="{{$country.Value}}"
                            value="{{$country.Value}}"
                            name="countries"
                            hx-get="/south-america"
                            hx-push-url="true"
                            hx-target="main"
                            hx-select="main"
                            hx-swap="outerHTML"
                            {{ if $country.Checked }}
                            checked="true"
                            {{ end}}
                        />
                        <span>{{$country.Display}}</span>
                    </label>
                    {{ end}}
                </div>
            </form>
            <script>
                document.body.addEventListener("htmx:configRequest", (e) => {
                  // add all the checked countries to the country paramater
                  const countries = []
                  const checkboxes = document.querySelectorAll("#countryFilter input")
                  checkboxes.forEach(c => {
                    if (c.checked) {
                      countries.push(c.value)
                    }
                  })

                  if (countries.length > 0) {
                    e.detail.parameters.countries = countries.join()
                  }

                })
            </script>

            {{ if .UploadEnabled}}
            <form
                id="image-upload-form"
                hx-encoding="multipart/form-data"
                hx-target="#image-list"
                hx-put="/south-america/images"
                hx-swap="afterbegin"
                hx-on::after-on-load="
                    htmx.addClass(htmx.find('#image-upload-preview'), 'opacity-0')
                    htmx.addClass(htmx.find('button[type=submit]'), 'opacity-0')
                "
                class="hidden md:block"
            >
                <label for="images"
                    class="text-nowrap inline-block relative top-[-2px] hover:top-0 font-mono px-1 text-white p-1 hover:bg-black bg-mine-600 w-min"
                    style="
                        border: .08333rem solid #000;
                        box-shadow: 2px 2px #bbb;
                    "
                >
                    <input
                        class="hidden"
                        type="file"
                        name="image"
                        id="images"
                        accept="image/jpeg, image/png"
                        multiple
                        hx-on:change="
                            const curFiles = this.files;
                            if(curFiles.length === 0) {
                                return
                            }

                            const submit = htmx.find('#image-upload-form button[type=submit]')
                            const preview = htmx.find('#image-upload-preview');
                            if (curFiles.length === 1) {
                                preview.textContent = `${curFiles[0].name} selected`;
                            } else {
                                preview.textContent = `${curFiles.length} photos selected`
                            }

                            htmx.removeClass(preview, 'opacity-0')
                            htmx.removeClass(submit, 'opacity-0')
                        "
                    />
                    Select Photos
                </label>
                <button
                    type="submit"
                    class="inline-block opacity-0 text-nowrap relative pl-5 top-[-2px] hover:top-0 font-mono text-white py-1 hover:bg-black bg-bilbao-600 mx-2"
                    style="
                        border: .08333rem solid #000;
                        box-shadow: 2px 2px #bbb;
                    "
                >Upload<img class="htmx-indicator inline relative top-[-2px] mx-2" src="/static/bars.svg">
                </button>
                <p id="image-upload-preview" class="opacity-0 block text-center my-1 text-sm">None selected</p>
            </form>

            {{end}}
            </div>

            <script>
            let imgListControls = document.getElementById("image-list-controls");

            let m = window.matchMedia("(max-width: 768px)")

            if (m.matches) {
              imgListControls.setAttribute("popover", "auto")
            }

            m.addEventListener("change", (e) => {
              if (m.matches) {
                imgListControls.setAttribute("popover", "auto")
              } else {
                imgListControls.removeAttribute("popover")
              }
            })

            document.addEventListener("htmx:afterSwap", (e) => {
              imgListControls = document.getElementById("image-list-controls");
              if (m.matches) {
                imgListControls.setAttribute("popover", "auto")
              } else {
                imgListControls.removeAttribute("popover")
              }
            })
            </script>
            <button
                class="fixed md:hidden text-lg bottom-6 right-8 z-50 text-nowrap inline-block font-mono text-white px-3 py-2 active:bg-black hover:bg-black bg-mine-600 w-min"
                style="
                    border: .08333rem solid #000;
                    box-shadow: 2px 2px #bbb;
                "
                popovertarget="image-list-controls"
                popovertargetaction="toggle"
            >Menu<button>
       </aside>

        <main class="bg-bg-300 md:ml-80 px-2 md:p-5">
                <ul
                    id="image-list"
                    class="grid grid-cols-[repeat(auto-fit,_minmax(200px,_1fr))] md:grid-cols-[repeat(auto-fit,_minmax(300px,_1fr))] gap-3 my-3"
                >
                    {{ block "image-list-items" .}}
                    {{ range .Images}} {{ block "image-list-item" .}}
                    <li
                        {{ if .GetNextPage }}
                            hx-get="/south-america/images/list?page={{.NextPage}}"
                            hx-trigger="revealed"
                            hx-swap="afterend"
                        {{ end }}
                    >
                            <figure class="w-fit relative"
                                id="{{.ID}}"

                            >
                                {{ if .DeleteEnabled}}
                                    <button
                                        hx-delete="{{.ImageURL}}"
                                        hx-target="closest li"
                                        class="absolute top-2 right-2 z-20 text-sm text-nowrap inline-block font-mono text-white p-1 active:bg-black hover:bg-black bg-red-600 w-min"
                                        style="
                                            border: .08333rem solid #000;
                                            box-shadow: 2px 2px #bbb;
                                        "
                                    >Delete</button>
                                {{ end }}
                                <a href="{{.URL}}">
                                <img
                                    class="opacity-0 transition-opacity relative mx-auto md:m-0"
                                    src="{{.ImageURL}}"
                                    data-thumbhash="{{.Thumbhash}}"
                                    width="{{.Width}}"
                                    height="{{.Height}}"
                                />
                                </a>
                            </figure>
                    </li>
                    {{ end }} {{ end }} {{ end }}
                </ul>
                <script type="module">
                import * as Thumbhash from "/static/thumbhash.js";


                function setupThumbhash(li) {
                  const img = li.querySelector("img")
                  const base64ToBinary = base64 => new Uint8Array(atob(base64).split('').map(x => x.charCodeAt(0)))
                  const dataURL = Thumbhash.thumbHashToDataURL(base64ToBinary(img.dataset.thumbhash));

                  const fig = htmx.find(li, "figure")
                  fig.style.background = `center / cover url(${dataURL})`

                  if (img.complete) {
                    setTimeout(() => {
                      img.style.opacity = 1
                    }, 200)
                  } else {
                    img.addEventListener("load", () => {
                      img.style.opacity = 1
                    })
                  }
                }


                const ul = htmx.find("ul")
                ul.querySelectorAll("li").forEach((li) => {
                  setupThumbhash(li)
                })

                const observer = new MutationObserver((mutationList) => {
                  for (const mut of mutationList) {
                    if (mut.type === "childList") {
                      mut.addedNodes.forEach((li) => li.nodeName === "LI" && setupThumbhash(li))
                    }
                  }
                })

                observer.observe(ul, { childList: true, subtree: false})

                </script>
        </main>
    </body>
</html>
{{ end }}
