{{ block "south-america-image" .}}
<html style="height: 100%">
    <head>
        <meta name="viewport" content="width=device-width, minimum-scale=0.1" />
        <title>{{.Title}}</title>
        <script
            src="https://unpkg.com/htmx.org@1.9.11"
            integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
            crossorigin="anonymous"
        ></script>
        <link href="/static/output.css" rel="stylesheet" />
        <style type="text/css">
            a {
                color: white;
                padding: 5px 5px 6px 5px;
                z-index: 10;
                font-size: 20px;
                text-decoration: underline;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
                    sans-serif;
            }

            body {
                background-color: rgb(14, 14, 14);
            }
        </style>
    </head>
    <body class="flex items-center justify-center h-full my-5 mx-4 gap-10">
        <a class="fixed top-3 left-3" href="/south-america">Back</a>

        {{ if .PrevURL}}
        <a
            class="hover:decoration-wavy"
            hx-boost="true"
            hx-trigger="keyup[key==='ArrowLeft'] from:body"
            href="{{.PrevURL}}"
            >Previous</a
        >
        {{ end }}

        <div
            class="image-container grow flex justify-center max-h-[40rem] max-w-7xl items-center"
        >
            <img
                class="max-h-full max-w-full transition-opacity"
                data-thumbhash="{{.ThumbHash}}"
                src="{{ .ImageURL }}"
                width="{{ .Width }}"
                height="{{ .Height }}"
            />
        </div>
        <script type="module">
            import * as Thumbhash from "/static/thumbhash.js";

            const container = document.querySelector(".image-container");
            const img = document.querySelector("img");

            const bytes = atob(img.dataset.thumbhash);
            const hash = new Uint8Array(bytes.length);
            for (let i = 0; i < bytes.length; i++) {
                hash[i] = bytes.charCodeAt(i);
            }
            const { w, h, rgba } = Thumbhash.thumbHashToRGBA(hash);

            const canvas = document.createElement("canvas");
            const c = canvas.getContext("2d");
            const pixels = c.createImageData(w, h);
            canvas.width = w;
            canvas.height = h;
            pixels.data.set(rgba);
            c.putImageData(pixels, 0, 0);

            canvas.style.height = img.height + "px";
            canvas.style.width = img.width + "px";

            // container.prepend(canvas);
            img.setAttribute("style", "opacity:1;");
        </script>

        {{ if .NextURL }}
        <a
            hx-boost="true"
            href="{{.NextURL}}"
            hx-trigger="keyup[key==='ArrowRight'] from:body"
            >Next</a
        >
        {{ end }}
    </body>
</html>
{{ end }}
