{{ block "south-america" . }}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <script
            src="https://unpkg.com/htmx.org@1.9.11"
            integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
            crossorigin="anonymous"
        ></script>
        <style>
            @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
        </style>
        <link href="/static/output.css" rel="stylesheet" />
        <title>saws - South America</title>
    </head>

    <body class="bg-bg-300">
        <aside
            class="flex flex-col md:fixed md:h-screen md:gap-5 top-0 left-0 md:w-80 px-2 md:px-4 py-3 md:py-5 md:shadow-md"
        >
            <a
                class="text-2xl underline hover:decoration-wavy font-mono text-center"
                href="/"
                >saws.world</a
            >
            <div
                class="py-3 px-2 fixed bottom-20 right-0 left-auto top-auto bg-bg-300 m-0 md:static md:flex md:flex-col md:gap-5 md:h-full"
                id="image-list-controls"
            >
            <form class="flex flex-col items-stretch">
                <span class="my-2 text-center md:text-left md:my-2 font-light text-lg md:text-xl">Order By</span>
                <div class="flex flex-row justify-evenly mx-2 md:gap-3 md:flex-col md:m-0 md:px-5">
                    <label for="order-oldest" class="md:my-2">
                        <input
                            id="order-oldest"
                            value="oldest"
                            name="order"
                            type="radio"
                            hx-get="/south-america"
                            hx-push-url="true"
                            hx-target="body"
                            {{ if not (eq .OrderBy "latest") }}checked="true"{{ end }}
                        />
                        <span>Oldest</span>
                    </label>
                    <label for="order-latest">
                        <input
                            id="order-latest"
                            value="latest"
                            name="order"
                            type="radio"
                            class="md:my-2"
                            hx-get="/south-america"
                            hx-push-url="true"
                            hx-target="body"
                            {{ if eq .OrderBy "latest" }}
                                checked="true"
                            {{ end }}
                        />
                        <span>Latest</span>
                    </label>
                </div>
            </form>
            <form id="countryFilter" class="flex flex-col grow items-stretch">
                <span class="text-center md:text-left my-2 font-light text-lg md:text-xl">Countries</span>
                <div class="flex flex-row flex-wrap justify-around gap-4 md:gap-3 md:flex-col px-5">
                    {{ range $i, $country := .CountryFilters }}
                    <label for="{{$country.Value}}" class="my-2">
                        <input
                            type="checkbox"
                            id="{{$country.Value}}"
                            value="{{$country.Value}}"
                            name="countries"
                            hx-get="/south-america"
                            hx-push-url="true"
                            hx-target="body"
                            {{ if $country.Checked }}
                            checked="true"
                            {{ end}}
                        />
                        <span>{{$country.Display}}</span>
                    </label>
                    {{ end}}
                </div>
            </form>
            <script>
                document.body.addEventListener("htmx:configRequest", (e) => {
                  // add all the checked countries to the country paramater
                  const countries = []
                  const checkboxes = document.querySelectorAll("#countryFilter input")
                  checkboxes.forEach(c => {
                    if (c.checked) {
                      countries.push(c.value)
                    }
                  })

                  if (countries.length > 0) {
                    e.detail.parameters.countries = countries.join()
                  }

                })
            </script>
            <form
                hx-encoding="multipart/form-data"
                hx-target="#image-list"
                hx-put="/south-america/images"
                hx-swap="afterbegin"
                class="hidden md:block"
            >
                <input
                    class="bg-neutral-300"
                    type="file"
                    name="image"
                    accept="image/*"
                />
                <input type="submit" value="upload" />

            </form>
            </div>
            <script>
            let imgListControls = document.getElementById("image-list-controls");

            let m = window.matchMedia("(max-width: 768px)")

            if (m.matches) {
              imgListControls.setAttribute("popover", "auto")
            }

            m.addEventListener("change", (e) => {
              console.log("media", e)
              if (m.matches) {
                imgListControls.setAttribute("popover", "auto")
              } else {
                imgListControls.removeAttribute("popover")
              }
            })

            document.addEventListener("htmx:afterSwap", (e) => {
              imgListControls = document.getElementById("image-list-controls");
              console.log("htmx:afterSwap", e)
              if (m.matches) {
                imgListControls.setAttribute("popover", "auto")
              } else {
                imgListControls.removeAttribute("popover")
              }
            })
            </script>
            <button
                class="fixed bottom-4 right-10 px-4 py-3 md:hidden bg-bg-500 rounded-md hover:bg-bg-400 active:bg-bg-400"
                popovertarget="image-list-controls"
                popovertargetaction="toggle"
            >Menu<button>
       </aside>

        <main class="bg-bg-300 md:ml-80 px-2 md:p-5">
                <ul
                    id="image-list"
                    class="grid gap-3 my-3"
                    style="
                        @media (min-width: 768px) {
                            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                        }

                        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                    "
                >
                    {{ range .Images}} {{ block "image-list-item" .}}
                    <li>
                        <a href="{{.URL}}">
                            <figure>
                                <img
                                    src="{{.ImageURL}}"
                                    width="{{.Width}}"
                                    height="{{.Height}}"
                                />
                            </figure>
                        </a>
                    </li>
                    {{ end }} {{ end }}
                </ul>
        </main>
    </body>
</html>
{{ end }}
